@import url('https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Oxygen');

$font-family-Oxygen: 'Oxygen', sans-serif
$font-family-Anton: 'Anton', sans-serif
$font-family-Archivo: 'Archivo Black', sans-serif

$color-h2-head: #102834
$background-head: #f6f5f5

*
  box-sizing: border-box
  margin: 0
  padding: 0

.container 
  max-width: 1200px
  margin: 0 auto

  
// header ---------------------------------------------------------- //
header
  position: relative
  height: 100vh
  width: 100%
  object-fit: cover


.video
  position: fixed
  object-fit: cover
  z-index: 0
  height: 100%
  width: 100%
  top: 0
  left: 0
.tlo
  position: fixed
  object-fit: cover
  z-index: 0
  height: 100%
  width: 100%
  top: 0
  left: 0
  background: rgba(0, 0, 0, 0.7)



.pdf
  position: absolute
  z-index: 3
  line-height: 19px
  top: 10px
  right: 10px
  font-size: 60px
  

.pdf p
  color: rgba(77, 182, 172, 0.7)
  font-size: 12px
  text-align: center
  border: 1px solid #DE0043
  padding: 10px
  border-radius: 2px
  box-shadow: 1px 0px 5px #000
  cursor: pointer
  &:hover
    color: rgba(77, 182, 172, 1)
    background: linear-gradient(to right, #A100A1, #DE0043)
  
  
.slogan
  font-family: $font-family-Archivo
  position: relative
  display: block
  margin: 0% auto 0px
  color: rgba(222, 0, 67, 0.5)
 
    
.slogan h1
  font-size: 15px
  text-align: center
    
.click
  position: relative
  display: none
  text-align: center
  
  

.click a
  font-size: 50px
  text-align: center
  color: rgba(77, 182, 172, 0.5)
  border-radius: 50%
  padding: 20px 25px
  background: linear-gradient(to right, #A100A1, #DE0043)
  box-shadow: 1px 0px 5px #000
  &:hover
    color: rgba(77, 182, 172, 0.8)
  
  
  

.logo
  position: relative
  

.logo img
  width: 300px
  height: 300px
  display: block
  margin: 18% auto 0px
 
    
.btn-start
  position: absolute
  width: 100px
  height: 100px
  background: red
  margin: 40px auto
  text-align: center






// ------ sekcion works --------------------------//

.works
  position: relative
  background: rgba(255, 255, 255, 1)


.ofert 
  width: 100%
  height: 350px
  object-fit: cover
  transform: 2s
  color: $color-h2-head
  &:hover
    background: linear-gradient(to right, #A100A1, rgba(222, 0, 67, 0.9))


.text p
  display: block
  margin: 31.4% auto
  font-family: $font-family-Oxygen
  color: $color-h2-head
  
.gray
  background: $background-head
  transform: 2s
  &:hover
    background: linear-gradient(to right, #A100A1, rgba(222, 0, 67, 0.9))
.ofert h2
  line-height: 20px
  text-align: center
  margin: 10px 0 0 0
  font-family: $font-family-Archivo
  color: $color-h2-head
  
.fa
  color: $color-h2-head
  font-size: 100px
  display: block
  margin: 30% 0 10% 0
  text-align: center

// ------ Realizations --------------------------//

  
.realizations h1
  background: $background-head
  text-align: center
  padding: 5% 0
  font-family: $font-family-Archivo
  font-size: 50px


// ------ sekcion 3 --------------------------//


// ------ sekcion 4 --------------------------//







    
 

